form {
    max-width: 25em;
    margin: 1em auto;
}

.input-group-prepend span {
    border-radius: 50%;
    height: 40px;
    background-color: coral;
    color: white;
}

h1 {
    color: coral;
}

.todos {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    grid-template-areas: "contenido icono ";
    border-left: 3px solid coral;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.iconoEliminar {
    display: flex;
    align-items: flex-end;
}

ul {
    padding-inline-start: 0px;
}